<hgroup>
  <div class="header-wrapper">
    <a href="{{ root_url }}/">
      <img class="title-logo" src="/images/signalleaf_icon.png" width="125">
    </a>
    <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
    {% if site.subtitle %}
      <h2 class="subtitle">{{ site.subtitle }}</h2>
    {% endif %}
  </div>
  <div class="header-links">
    <ul>
      <li>
        <a href="https://itunes.apple.com/us/podcast/signals-and-leaves/id739095095">
          <i class="fa fa-rss-square fa-lg"></i>
          Podcast (iTunes)
        </a>
      </li>
      <li>
        <a href="http://www.signalleaf.com/podcasts/523736d466f52c0200000003/rss">
          <i class="fa fa-rss-square fa-lg"></i>
          Podcast (rss)
        </a>
      </li>
      <li>
        <a href="/atom.xml">
          <i class="fa fa-rss-square fa-lg"></i>
          Blog (rss)
        </a>
      </li>
      <li>
        <a class="twitter" href="http://twitter.com/signalleaf">
          <i class="fa fa-twitter-square fa-lg"></i>
          @signalleaf
        </a>
      </li>
    </ul>
  </div>
</hgroup>
