<ul class="main-navigation">
  <li>
    <a href="{{ root_url }}/">
      <i class="fa fa-home"></i>
      The Blog
    </a>
  </li>
  <li>
    <a href="{{ root_url }}/blog/categories/podcast/">
      <i class="fa fa-microphone"></i>
      The Podcast
    </a>
  </li>
  <li>
    <a href="{{ root_url }}/blog/archives">
      <i class="fa fa-archive"></i>
      The Archives
    </a>
  </li>
  <li>
    <a href="http://signalleaf.com">
      <i class="fa fa-leaf"></i>
      SignalLeaf.com
    </a>
  </li>
</ul>
