body > header {
  background: $header-bg;
  h1 {
    font-weight: bold;
    display: inline-block;
    margin: 0;
    a, a:visited, a:hover {
      color: $title_color;
      text-decoration: none;
    }
  }

  h2 {
    margin: 0.5em 0em 0em 0em;
    @extend .sans;
    font-size: 1em;
    color: $subtitle-color;
    font-weight: normal;
  }

  img.title-logo {
    float: left;
    margin-right: 1em
  }

  .header-wrapper {
    float: left;
  }

  clear: both;
  float: none;

}
